<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Best practices</title>
  </head>

  <body>
    <script src = "../../mytutorials/general_menu.js"></script>
    <script src = "menu.js"></script>

    <h1>Best practices</h1>

    <h2>A develop branch</h2>
    It is the bare minimum to have two branches: one called master, and one called develop.
    The work is done on the develop branch and then merged to master when this works.
    It is safer to first merge master to develop:
    <br>
    <code>
      git checkout develop
      <br>
      git merge master
    </code>
    if the merge is successfull one can then 
    <br>
    <code>
      git checkout master
      <br>
      git merge --no-ff develop
    </code>
    <br>
    which will add the modifs to master.

    <h2>More advanced git branching model</h2>
    Following this <a href="https://nvie.com/posts/a-successful-git-branching-model/">blogpost</a>
    one can try to go for a model with a unique master branch, a unique  develop branch, and some Branches
    of the form feature, hotfix and release.
    See this <a href="Git-branching-model.pdf">diagram</a>.



  </body>
</html>
