body {
  font-size: 120%;
  /* Set a counter h2counter to 0 */
  counter-reset: h2counter;
  /* Increment h2counter hence set it to 1 */
/*  counter-increment: sec-counter; */

}
 h1 {
   text-align: center;
  /* counter-reset: h2counter; */
 }

h2 {
  counter-reset: h3counter;
}

 h2:before  {
   counter-increment: h2counter;
   /* display the h2counter before the h2 element */
   content: counter(h2counter) ".     ";
   /* Increment "h2counter" by 1 */
  /* counter-increment: sec-counter;*/
   /* Set counter h3counter to 0 */
 }

 h3:before  {
   counter-increment: h3counter ;
   content: counter(h2counter) "-" counter(h3counter)".  ";
 }

.menu {
	  overflow: hidden;
	  background-color: #333;
}

#general_menu {
	  overflow: hidden;
	  background-color: #8B0000;
	}



.menu a {
	  float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
}

.menu a:hover {
	  background-color: #ddd;
	  color: black;
}

.menu a.active {
	    background-color: #4CAF50;
	    color: white;
}

code {
 font-family: "Courier New";
  color: blue;
} 



span.code{
  font-family: "Courier New";
  color: blue;
} 

p.code{
  font-family: "Courier New";
  color: blue;
  margin-left: 20px;
  border-left-style: solid;
  padding-left: 10px;
  border-width: 1px;

}

.code{
  font-family: "Courier New";
  color: blue;
  margin-left: 20px;
  border-left-style: solid;
  padding-left: 10px;
  border-width: 1px;

}
