<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="style.css">
<title>SQL from Python</title>
</head>

<body>
<script src = "../../mytutorials/general_menu.js"></script>
<script src = "menu.js"></script>

<h1>SQL with Python</h1>

<h2>sqlalchemy</h2>
<h3>Basics</h3>
SQLalchemy is a Python toolkit to work with SQL in Python.
<br>
<code>
<pre>
from sqlalchemy import create_engine
import pandas as pd
url = dialect+driver://username:password@host:port/database # needs to be filled with real values
engine = create_engine(url=url)
sql_query = "SELECT * FROM my_table" 
df = pd.read_sql(sql=sql_query, con=engine)
</pre>
</code>

As explained in SQLalchemy <a href="https://docs.sqlalchemy.org/en/14/core/engines.html#database-urls">documentaion</a>
the url format <em>dialect+driver://username:password@host:port/database</em> follows the RFC-1738 specification 
(RFC = Request for Comments).
As is remarked there 
<quote>As the URL is like any other URL, special characters such as those that may be used in the password need to be URL encoded to be parsed correctly.. Below is an example of a URL that includes the password "kx%jj5/g", 
where the percent sign and slash characters are represented as %25 and %2F, respectively</quote>
One can use <code>urllib.parse.quote_plus</code> to encode correctly the url.

<h3>Dialects and DBAPI</h3>
Quote:
<quote>
  SQLAlchemy uses system of dialects to communicate with various types of databases. 
  Each database has a corresponding DBAPI wrapper. 
  All dialects require that an appropriate DBAPI driver is installed.</quote>
  <br>
  Quote from <a href="https://docs.sqlalchemy.org/en/13/dialects/">doc</a>:<br>
  <quote>The dialect is the system SQLAlchemy uses to communicate with various types 
    of DBAPI implementations and databases.</quote>
    <br>
    SQLAlchemy included dialects are:
    <ul>
      <li>PostgreSQL</li>
        <li>MySQL</li>
        <li>SQLite</li>
        <li>Oracle</li>
        <li>Microsoft SQL Server</li>
    </ul>

<h3>Examples</h3>
A typical url for estabilishing the connection could look like:
<pre>
DRIVER = 'ODBC Driver 17 for SQL Server'
SERVER = 'my_server_address'
PORT = 'port_number'
DATABASE = 'DB_name'
UID = 'user_name'
PWD = 'my_pwd'
url = f"mssql+pyodbc://{UID}:{PWD}@{SERVER}:{PORT}/{DATABASE}?driver={DRIVER}"
</pre>

Note that in a URL, white spaces might be either encoded as the plus symbole + or as %20, 
cf <a href="https://stackoverflow.com/questions/1634271/url-encoding-the-space-character-or-20">Stack overflow</a>.

<h3>URL to create a connection</h3>
You can also use <code>sqlalchemy.engine.URL.create</code> to create a connection, cf 
<a href="https://docs.sqlalchemy.org/en/14/core/engines.html#sqlalchemy.engine.URL.create">doc</a>.
E.g.:
<pre><code>
sqlalchemy_url = sqlalchemy.engine.URL.create(
    drivername=SQLALCHEMY_DRIVER,
    username=UID,
    password=PWD,
    host=SERVER,
    port=PORT,
    database=DATABASE,
    query={'driver': DRIVER}
)
</code></pre>

<h3>Inspect the DB</h3>
<pre>
<cod>
inspect = sqlalchemy.inspect(engine)
inspect.get_table_names()
inspect.get_view_names()
inspect.get_columns(table_name='table_name')
</cod>
</pre>

<h2>Pyodbc</h2>
<h3>Basics</h3>
pyodbc is an open source Python module that makes accessing ODBC databases simple. 
It implements the DB API 2.0 specification but is packed with even more Pythonic convenience. 
Python DB API 2.0 is documented in the PEP 249: PEP 249 -- Python Database API Specification v2.0. 
This PEP aims at 
<quote>
This API has been defined to encourage similarity between the Python modules that are used to access databases.
</quote>
<br>
Here is an example how to instantiate a pyodbc connection:
<br>
<pre><code>
  import pyodbc
import pandas as pd
DRIVER = 'ODBC Driver 17 for SQL Server'
SQLALCHEMY_DRIVER = 'mssql+pyodbc'
SERVER = 'centralmssql1.deaal.zeiss.org'
PORT = '1533'
DATABASE = 'spu-aal-db01'
UID = my_uid
PWD = my_pwd

connection_string = (f'DRIVER={{{DRIVER}}};'
                     f'Server={SERVER};'
                     f'PORT={PORT};'
                     f'Database={DATABASE};'
                     f'UID={UID};'
                     f'PWD={{{PWD}}}')
connection_pyodbc = pyodbc.connect(connection_string)
</code></pre>
<br>
Two remarks here:
<br>
ODBC connection string syntax uses curly braces {} to indicate a string, hence allowing white spaces.
<br>
In Python f-string, to escape a curly brace {, one has to use two curly braces in a row {{. 
  E.g. in Python <code>print(f"{8}{{")</code> is rendered as <code>8{</code>

<h3>What is ODBC?</h3>
Cf <a href="https://en.wikipedia.org/wiki/Open_Database_Connectivity">Wikipedia</a>. <br>
<quote>
  In computing, Open Database Connectivity (ODBC) is a standard application programming interface (API) 
  for accessing database management systems (DBMS). 
  The designers of ODBC aimed to make it independent of database systems and operating systems. 
  An application written using ODBC can be ported to other platforms, 
  both on the client and server side, with few changes to the data access code.
</quote>
<br>
/etc/odbcinst.ini is a text configuration file for unixODBC drivers. 
It can be edited by hand, but the recommended way to update this file is to use the odbcinst(1) utility.
Cf also this <a href="https://github.com/mkleehammer/pyodbc/wiki/Drivers-and-Driver-Managers#odbc-configuration-files-unix-only">doc page</a>
to understand better odbcinst.ini file.

<h3>Drivers and driver managers</h3>

Cf <a href="https://github.com/mkleehammer/pyodbc/wiki/Drivers-and-Driver-Managers">Pyodbc doc</a>.

iODBC and unixODBC are projects that implement ODBC API for Linux systems

<h3>ODBC connection String</h3>
From the pyodbc <a href="https://github.com/mkleehammer/pyodbc/wiki/The-pyodbc-Module#connect">doc</a>:
<br>
<quote>
  To create a connection to a database, pyodbc passes an "ODBC connection string" 
  to the local driver manager (e.g. unixODBC or odbc32.dll) which then calls the relevant database 
  driver which in turn calls the database to request a connection. 
  Hence, this ODBC connection string must include all the necessary connection information. 
  This information is formatted as key/value pairs separated by 
  semi-colons (the values can be enclosed with curly braces if necessary), e.g.:
</quote>

<h2>Microsoft SQL servers</h2>
<h3>Basics</h3>
Some remarks about MS SQL servers:
<ul>
  <li>MS SQL Server version is not the same as the (ODBC) driver version. Cf 
    <a href="https://docs.microsoft.com/en-us/sql/connect/odbc/windows/system-requirements-installation-and-driver-files?view=sql-server-ver15#sql-version-compatibility">MS doc</a>
  </li>
  <li>Beware that the DB version for an MS SQL DB (e.g. SQL Server 2016), comes with a version number (e.g. SQL Server 2016 version number is 13), 
    but 13 is independant from the Driver version number.</li>
</ul>

</body>
</html>
