body {
  font-size: 120%;
}
 h1 {
   text-align: center;
 }


.menu {
	  overflow: hidden;
	  background-color: #333;
}

#general_menu {
	  overflow: hidden;
	  background-color: #8B0000;
	}



.menu a {
	  float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
}

.menu a:hover {
	  background-color: #ddd;
	  color: black;
}

.menu a.active {
	    background-color: #4CAF50;
	    color: white;
}

code {
 font-family: "Courier New";
  color: blue;
} 



span.code{
  font-family: "Courier New";
  color: blue;
} 

p.code{
  font-family: "Courier New";
  color: blue;
  margin-left: 20px;
  border-left-style: solid;
  padding-left: 10px;
  border-width: 1px;

}

.code{
  font-family: "Courier New";
  color: blue;
  margin-left: 20px;
  border-left-style: solid;
  padding-left: 10px;
  border-width: 1px;

}
