<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- includes jquery -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Basics of Java</title>
</head>

<body>
  <script src = "../../mytutorials/general_menu.js"></script>
  <script src = "menu.js"></script>
<h1> Basics of Java </h1>

<h2>Generalities</h2>
<h3>Atom editor</h3>
With Atom, <em>alt-shift-t </em> opens a terminal on the current directory. <br />
<em>Java SE</em>= Java Standard Edition.
<p>
<h3>Basic program</h3>
  A java program starts like this:
</p>
<p class="code">
  public class Javafile { <br>
    public static void main (String[] args) { <br >
    ...<br />
    some code <br />
    ...<br />
    } <br />
  }
</p>

    <h2>Basic syntax</h2>
<h3> Comments</h3>
<p>
  Comments are written as: <br />
  // until the end of the line. <br />
  /*  comment between these symbols */
</p>

<h3>Input\Output</h3>
<p class = "code">
System.out.print(s);
</p>
will print the string s without a new line whereas System.out.println(s); will print with a new line (ln stands for lint).


<h3>Arithmetic</h3>
<p>
Real numbers correspond to the primitive type float (double to get more digits):
</p>
<p class="code">
  float x; <br />
  float y = 5.67;
</p>
<p>
To convert a String s to an Integer one has to
</p>
<p class="code">
int i = Integer.parseInt(s);
</p>
To go on the other direction, 
<p class="code">
Integer.toString(n);
</p>
converts an integer to a string.
<br>
Likewise, to convert a string s to float, one has to type
<p class="code">
float f = Float.parseFloat(s);
</p>
<p>
A number of the form 9.5 is by defaut a double (and not a float). 
To make it a float one needs to type 9.5f; 
</p>
<p>
If f is a float, the command f+=1/2 will not change f. 
The reason is that 1/2 is converted to a float, which is then its ceiling, 0.
</p>

<h3>Scientific notations and float representation</h3>
<p class="code">
double d = 1.234e-2;
</p>
represents a double in scientific notations, that is to say, d=1.234 * 10^(-2).
Equivalently one could type 
<p class="code">
double d = 1.234E-2;
</p>
Floating numbers are represented using the 
<a href="https://en.wikipedia.org/wiki/IEEE_floating_point">IEEE754 norm</a>.
There is one bit of sign s. 
For float, there are 8 bits for the exponant e, and 23 bits for the significand m (or mantissa) so 32 bits in total.
The value of the double is (-1)^s 2^e m where is a float between 0.5 and 1.
For double, there are 11 bits of exponant (actually one bit of sign of the exponant, and 10 bits for the exponant) and 52 bits of significand (64 bits in total).
In particular, since 2^10 = 1024, and since 2^1023 which is about 9.10^307, 
hence the biggest double one can type is d = 1e309. For bigger numbers one catches an exception "floating point number too large".
<br>
Nan stands for "not a number".




<h3>Arrays</h3>
<p class="code">
  int[] anArray; anArray = new int[10]; anArray[0]=12; int lengthOfArray = anArray.length; <br />
  int[] myarray = new int[10]; <br />
  int[][] mymatrix; <br />
  int[] myArray = {0,1,2,3};<br />
  int myArray[]; //also defines an array, but the syntax is strange. <a href="http://stackoverflow.com/questions/129178/difference-between-int-array-and-int-array">See</a>.
</p>
The class <em>Arrays</em> from the package java.util contains methods to manipulate arrays
(cf <a href="https://docs.oracle.com/javase/8/docs/api/java/util/Arrays.html">doc</a>).
Let us mention
<p class="code">
import java.util.*; <br />
int[] t1 = {53,26,71,10}; <br />
int[] t2 = Arrays.copyOf(t1,4); //means: t2 is a copy of t2 of size 4 (extra indices will get 0).<br />
Arrays.sort(t1); // this sorts t1.<br />
Arrays.toString(t1); // returns the String "[t1[0], ...,t1[t1.length -1]]".
</p>
For two-dimensional arrays like
<p class="code">
  int [][] t = {{7,8},{9,10},{11,12}}; <br />
  t[0][1]; // returns 8
</p>
We visualze t as
<table>
  <tr>
    <td> 7 </td>  <td>8  </td>  </tr>
  <tr>  <td>  9  </td>  <td> 10 </td> </tr>
  <tr> <td>  11    </td>    <td> 12 </td> </tr>
</table>
So t[0][1]=8 means that we have the same index as for matrix.


<h3>Control flow (structure de controle)</h3>
<p class="code">
  if (10==x && condition ) &#123; instruction; &#125; else {instruction;} <br />
  while (2!=x) {instruction;} <br />
  for (int i=0; i<=n; i++) {instruction;}<br />
  for (int item : myArray) {instruction(item;)} // Here myArray is an array, and the for loop loops through the elements of myArray. <br />
<br/>
switch (e) { <br />
	case c1: <br/>
	statement <br/>
break; <br/>
... <br/>
	default: <br/>
	statement<br/>
	break <br/>
</p>
<h3>Import packages and classes</h3>
<p class="code">
  import java.util.*; //import all classes from the package java.util <br />
  import jav.util.Date; // only imports the class Date
</p>

<h3>static</h3>
One uses static to define <em>class variables</em> (also called static fields) and <em>class methods</em>.
<p class="code">
  private static int numberOfElements =0; <br />
  private static int getNumberElements() { return numberOfElements;}
</p>
Class variables and methods are related to the class more than to a specific objet.
You call them with
<p class="code">
  myClass.numberOfElements; myClass.getNumberElements();
</p>

<h2>Builtin classes</h2>
<h3>Strings</h3>
See the <a href='https://docs.oracle.com/javase/tutorial/java/data/strings.html'>official documentation</a>.
One can define a String as </br>
  <code>public String s</code></br>
  To convert an integer to string use</br>
	<code>String.valueOf(number)</code>
	</br> or </br>
	<code>Integer.toString(number)</code>.

	<h3>Boolean</h3>
	<code>boolean b = true;</code>
</body>
</html>
